<% include header %>

<h1>CREATE MEMOJIES </h1>

<section class="clearfix">
  <div class="camera-holder">
    <div id="my_camera" style="width: 320px; height: 240px;"></div>
    <a id="snapshot_btn" class="btn" href="javascript:void(0)">Take Snapshot</a>

    <div class="middle">OR</div>
    <div class="upload-container">
      <label for="upload_photo" class="btn">Upload Photo</label>
      <input id="upload_photo" type="file" accept="image/*" />
    </div>

  </div>
</section>
<div id="smiley-container">
</div>
<div id="popup"  class="hidden">
  <div id="my_result">

  </div>
  <i class="close">x</i>
</div>
<% include footer %>
